*,
*:after,
*:before {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-family-sans-serif);
    font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-sans-serif);
    font-weight: 600;
}
code {
    font-family: var(--font-family-mono);
}
main {
    p {
        line-height: 1.5;
    }
}
a {
    color: var(--home-link-color);
    text-decoration: none;
    &:hover {
        color: var(--home-link-hover-color);
        text-decoration: underline;
    }
}
ul {
    list-style: square;
    li {
        padding: 0 0.3125rem;
        line-height: 1.625rem;
    }
}
